{% extends "admin/base_site.html" %}

{% block content %}


<div class="module">
    <ul>
        <li><a href="{% url 'ranking-assiduidade' %}">Ranking de Assiduidade</a></li>
        <li><a href="{% url 'relatorio-horas-treinadas' %}">Horas Treinadas por Aluno</a></li>
        <li><a href="{% url 'relatorio-alunos-por-faixa' %}">Quantidade de Alunos por Faixa</a></li>
        <li><a href="{% url 'relatorio-lista-alunos-faixa' %}">Lista de Alunos e Suas Faixas</a></li>
    </ul>
</div>

{% endblock %}